@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
    overflow: hidden;
    margin: 0;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    width: 700px;
    max-width: 100%;
    text-align: center;
}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 1.5px;
}

.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: rgb(14, 248, 6);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #222;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}
